.posts-all {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  padding-top: 11.2rem;

  &__title {
    font-family: 'Archivo', sans-serif;
    font-size: 3.75rem;
    font-weight: 700;
  }
}