@import '@/lib/breakpoints';
// $page_padding: 0 2.5rem;
$item_padding: 0 10%;

.posts {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  // padding: $page_padding;
  width: fit-content;
  // padding: $item_padding;
  padding: $item_padding;

  &__card {
    // border: 2px solid red;
    // width: 47rem;
    display: flex;
    flex-direction: column;
    gap: 0.55rem;

    width: 100%;

    @media (min-width: $breakpoint-desktop) {
      width: 50%;

    }

    &-title {
      font-weight: 700;
      font-size: 2rem;
      font-family: var(--header-font);
      color: var(--primary-header-text-color);
      // padding: $item_padding;
    }

    &-content {
      font-weight: 300;
      margin-top: 0.2rem;
    }

    &-date-container {
      display: flex;
      gap: 1rem;
    }

    &-date {
      font-weight: 300;
    }

    &-readmore {
      a {
        color: var(--primary-text-color)
      }
    }
  }

  &__all {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    cursor: pointer;
    gap: 0.3rem;
    align-items: center;
    font-size: 0.5rem;

    &--hide {
      display: none;
    }

    &-arrow {
      padding: 0.17rem;
      border: solid var(--primary-text-color);
      border-width: 0 0.1rem 0.1rem 0;
      display: inline-block;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      cursor: pointer;

      &--hide {
        display: none;
      }
    }



    // &__title {
    //   padding: $item_padding;
    // }

    a {
      // cursor: pointer;
      text-decoration: none;
      color: var(--primary-text-color);
    }
  }
}