$divider: 1px solid var(--primary-text-color);
$item_padding: 1rem 0;

.post {
  display: flex;
  justify-content: center;
  padding-top: 11.2rem;
  // mobile
  padding: 11.2rem 3rem 5rem 3rem;

  // p,
  // h2 {
  //   line-height: 1.58rem;
  // }

  &__container {
    width: 48rem;
    padding-bottom: 10vh;
  }

  &__header {
    border-bottom: $divider;
    border-top: $divider;
    margin-bottom: 3rem;

    &-image {
      position: relative;
      width: 100%;
      height: 300px;

      img {
        object-fit: cover;

      }
    }

    h1 {
      padding: $item_padding;
      font-size: 5rem;
      font-family: var(--header-font);
      color: var(--primary-header-text-color);
    }

    &-info {
      border-top: $divider;
      display: flex;
      gap: 1rem;
      padding: $item_padding;
    }
  }

  &__content {
    padding: $item_padding;
    line-height: 1.87rem;

    &-links {
      a {
        color: var(--primary-text-color);

      }
    }


    // div {
    p {
      font-size: var(--post-paragraph-font-size);
      margin-bottom: 1.5rem;
      font-weight: 300;
      color: var(--primary-text-color);
    }

    h2 {
      margin-top: 2rem;
      font-size: 2rem;
      color: var(--primary-header-text-color);
      line-height: 3rem;
    }

    // >::after {
    //   content: " ";
    //   display: block;
    // }

    // }
    &-img-container {
      // border: 1px solid red;
      margin-bottom: 2rem;
    }

    &-img {
      // border: 10px solid blue;
      object-fit: contain;

      img {
        width: 100%;
      }
    }

    &-start-page-container,
    &-github-container {
      display: grid;
      gap: 1rem;
      grid-template-columns: 4fr 1fr;
      grid-template-rows: 1fr min-content;
    }

    &-start-page-desktop,
    &-github-tablet {
      position: relative;

      img {
        position: absolute;
        bottom: 0;
      }

    }

    &-github-tablet {
      img {
        height: 100%;
        object-fit: cover;
      }
    }

    &-start-page-desktop-caption {
      grid-row: 2/3;
    }

    &-start-page-mobile,
    &-github-mobile {
      grid-column: 2/3;
      grid-row: 1/2;
      // border: 10px solid pink;
    }

    &-start-page-mobile-caption {
      grid-row: 2/3;
      // border: 10px solid pink;
    }

    &-theme-table {
      // border: 2px solid red;
      margin-bottom: 1rem;
    }

    &-question-page-container {
      display: grid;
      gap: 1rem;
      grid-template-columns: 4fr 1fr;
      grid-template-rows: 1fr min-content;
      margin-top: 5rem;
    }

    &-question-page-desktop {
      // position: relative;
      display: flex;

      img {
        display: flex;
        align-items: center;
        // position: absolute;
        // bottom: 0;
      }

    }

    &-question-page-desktop-caption {
      grid-row: 2/3;
    }

    &-question-page-mobile {
      grid-column: 2/3;
      grid-row: 1/2;
      display: flex;
      align-items: center;

      img {
        object-fit: contain;
      }

      // border: 10px solid pink;
    }

    &-question-page-mobile-caption {
      grid-row: 2/3;
      // border: 10px solid pink;
    }

    &-results-page-container {
      display: grid;
      gap: 1rem;
      grid-template-columns: 4fr 1fr;
      grid-template-rows: 1fr min-content;
      margin-top: 5rem;
    }

    &-results-page-desktop {
      position: relative;

      img {
        position: absolute;
        bottom: 0;
      }

    }

    &-results-page-desktop-caption {
      grid-row: 2/3;
    }

    &-results-page-mobile {
      grid-column: 2/3;
      grid-row: 1/2;
      display: flex;
      align-items: flex-end;

      img {
        object-fit: contain;
      }

      // position: relative;

      // img {
      //   position: absolute;
      //   bottom: 0;
      // }
      // border: 10px solid pink;
    }

    &-results-page-mobile-caption {
      grid-row: 2/3;
      // border: 10px solid pink;
    }

    &-schedule-page-container {
      display: grid;
      gap: 1rem;
      grid-template-columns: 4fr 1fr;
      grid-template-rows: 1fr min-content;
      margin-top: 5rem;
    }

    &-schedule-page-desktop {
      // position: relative;

      img {
        // position: absolute;
        // bottom: 0;
      }

    }

    &-schedule-page-desktop-caption {
      grid-row: 2/3;
    }

    &-schedule-page-mobile {
      grid-column: 2/3;
      grid-row: 1/2;
      display: flex;
      align-items: flex-end;

      img {
        object-fit: contain;
      }

      // position: relative;

      // img {
      //   position: absolute;
      //   bottom: 0;
      // }
      // border: 10px solid pink;
    }

    &-schedule-page-mobile-caption {
      grid-row: 2/3;
      // border: 10px solid pink;
    }

    &-caption {
      font-size: var(--post-caption-font-size);
      color: var(--post-caption-color);
    }

    &-tdecu-caption {
      text-align: right;
    }
  }

  &__divider {
    width: 100%;
    border: 1px solid white;
  }

  table {
    border-collapse: collapse;
    width: 80%;
  }

  th,
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th {
    // background-color: #f2f2f2;
  }

}