@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Montserrat:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&family=Source+Code+Pro&display=swap');

:root {
  --breakpoint-tablet: 768px;
  --breakpoint-mobile: 394px;
  --breakpoint-desktop: 1440px;
  --side-nav-width: 15rem;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
  /* background-color: #000000;
  color: white; */
}

body[data-theme="light"] {
  --background: #FFF;
  --primary-text-color: black;
  --nav-secondary-color: #DEDEDE;
}

body[data-theme="dark"] {
  --background: black;
  --primary-text-color: #FFF;
}

body[data-theme="atmosphere"] {
  --background: #FFF;
}