@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600&family=Roboto:wght@300;400;500;700&family=Source+Code+Pro&display=swap');

html {
  font-size: 16px;
}

:root {
  --breakpoint-tablet: 768px;
  --breakpoint-mobile: 394px;
  --breakpoint-desktop: 1440px;
  --side-nav-width: 15rem;
  --side-nav-margin-left: 5rem;
  --top-nav-height: 3rem;
  --header-font: 'Archivo', sans-serif;
  /* --post-paragraph-font-size: 0.9375rem; */
  --post-paragraph-font-size: 1.2rem;
  --post-caption-font-size: 0.75rem;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 13px; */
}


body[data-theme="light"] {
  /* --background: #FFF; */
  --primary-text-color: #000026FF;
  --primary-header-text-color: #000000;
  --nav-secondary-text-color: #DEDEDE;
  --nav-primary-text-color: black;
  --post-caption-color: #7c7c7c;
}

body[data-theme="dark"] {
  /* --background: #151515; */
  /* --primary-text-color: #F2F2F2; */
  --primary-text-color: #c2c2c2;
  --primary-header-text-color: #F2F2F2;
  /* --nav-secondary-text-color: #212121; */
  --nav-secondary-text-color: #4a4a4a;
  --nav-primary-text-color: #F2F2F2;
  --post-caption-color: #7c7c7c;

}
body[data-theme="atmosphere"] {
  --background: #151515;
  /* --primary-text-color: #F2F2F2; */
  --primary-text-color: #c2c2c2;
  --primary-header-text-color: #F2F2F2;
  /* --nav-secondary-text-color: #212121; */
  --nav-secondary-text-color: #4a4a4a;
  --nav-primary-text-color: #F2F2F2;
  --post-caption-color: #7c7c7c;

}


body {
  background: var(--background);
  color: var(--primary-text-color);
}