.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  gap: 10rem;

  // border: 3px solid pink;
  /* margin-top: var(--top-nav-height); */
  // position: relative;
  // top: var(--top-nav-height);

  &__splash,
  &__posts,
  &__about {
    padding-left: var(--side-nav-width);
    height: calc(100vh - var(--top-nav-height));
    width: 100%;
    // border: 4px solid greenyellow;
    padding-top: var(--top-nav-height);
    padding-left: 0;
    // scroll-margin: 5rem 0 0 0;

  }

  &__about {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
  }
  &__posts- {
    justify-content: start;
    gap: 2em;
    align-items: start;
    padding-left: 2em;
    padding-right: 2em;
    
  }

}