@import '@/lib/breakpoints';

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__bg {}

  &__splash,
  &__splash2,
  &__posts,
  &__about {
    height: 100vh;
    width: 100%;
  }

  &__posts {
    display: flex;
    justify-content: center;
  }

  &__splash {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__about {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
    align-items: center;
    // position: relative;
    z-index: 1;
  }
}