.splash2 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-weight: 300;
  font-size: 1rem;
  // position: relative;
  z-index: -1;

  &__intro {
    span {
      font-weight: 800;
    }
  }

  &__name {
    font-size: 5rem;
    font-weight: 800;
  }
}