@import '@/lib/breakpoints';

.splash2 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-weight: 300;
  font-size: 1rem;
  // position: relative;
  z-index: -1;
  padding: 0 10%;

  @media (min-width: $breakpoint-tablet) {
    padding: auto;
  }

  &__intro,
  &__name,
  &__description {
    position: relative;
    top: 10vh;
    opacity: 0;

    span {
      font-weight: 800;
    }
  }


  &__name {
    font-size: 3rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--splash-name-color);

    @media (min-width: $breakpoint-tablet) {
      font-size: 5rem;
    }
  }
}