@import '@/lib/breakpoints';

.footer {
  position: fixed;
  right: 0;
  top: auto;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  font-size: 0.25rem;

  >div:first-of-type {
    opacity: 0.5;
  }
  >div > span:nth-of-type(3)::after {
    content: " ";
    display: block;
  }

  @media (min-width: $breakpoint-tablet) {
    >div > span:nth-of-type(3)::after {
      content: " ";
      display: none;
    }
  }

  &__social-icon {
    position: relative;
    top: 0;
  }

  &__social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;

    svg:hover {
      animation: pulse 0.5s ease-in infinite;
    }

    @media (min-width: $breakpoint-tablet) {
      justify-content: flex-start;
    }
  }
}