@import '@/lib/breakpoints';

.nav {
  &-side {
    position: fixed;
    left: 1.5rem;
    top: 0;
    bottom: auto;

    width: var(--side-nav-width);
    display: flex;
    justify-content: center;

    flex-direction: row;
    gap: 1.25em;
    width: fit-content;
    align-items: center;
    z-index: 1;

    @media (min-width: $breakpoint-desktop) {
      flex-direction: column;
      bottom: 0;
      width: var(--side-nav-width);
      align-items: start;
      gap: 0;
      align-items: flex-start;
      left: 0;
      margin-left: var(--side-nav-margin-left);
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      // gap: 0.5rem;
      height: var(--top-nav-height);
      color: var(--nav-secondary-text-color);

      // &--selected {
      //   color: var(--nav-primary-text--color);
      // }

      @media (min-width: $breakpoint-desktop) {
        gap: 1.5rem;
        flex-direction: row;
        height: fit-content;

      }
    }

    &__rectangle {
      &-title {
        // font-size: 5px;
        font-size: 0.75rem;
        order: -1;
        font-weight: 500;
        cursor: pointer;

        @media (min-width: $breakpoint-desktop) {
          order: unset;

        }
      }

      &-shape {
        width: 0.25rem;
        // height: 7rem;
        // background-color: var(--nav-primary-text-color);
        background-color: var(--nav-secondary-text-color);
        margin: 20px;
        // box-shadow: 0px 0px 1rem var(--nav-primary-text-color);


        width: 10rem;
        height: 0.05rem;

        width: 100%;
        margin: 0;

        @media (min-width: $breakpoint-desktop) {
          height: 7rem;
          width: 0.25rem;

        }

        // &--selected {
        //   background-color: var(--nav-primary-text-color);
        //   box-shadow: 0px 0px 1rem var(--nav-primary-text-color);
        // }
      }
    }
  }

  &-top {
    z-index: 1;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: var(--top-nav-height);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
    background: var(--background);

    // if not home
    &-back {
      justify-content: space-between;
      padding: 0 2rem;
    }

    &__back-btn {
      cursor: pointer;
      display: flex;
      gap: 0.3rem;
      justify-content: center;
      align-items: center;
      font-size: 0.5rem;

      &--hide {
        display: none;
      }
    }



    &__back-arrow {
      padding: 0.17rem;
      border: solid var(--primary-text-color);
      border-width: 0.1rem 0 0 0.1rem;
      display: inline-block;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      cursor: pointer;

      &--hide {
        display: none;
      }
    }

    &__icon-container {
      cursor: pointer;

      img {
        height: 1.3rem;
        width: 1.3rem;
      }
    }
  }

}