.nav {
  &-side {
    position: fixed;
    left: 1.5rem;
    top: 0;
    bottom: auto;

    width: var(--side-nav-width);
    display: flex;
    justify-content: center;

    flex-direction: row;
    gap: 1.25em;
    width: fit-content;
    align-items: center;
    z-index: 1;



    @media (min-width: 768px) {
      flex-direction: column;
      bottom: 0;
      width: var(--side-nav-width);
      align-items: start;
      gap: 0;
      align-items: flex-start;
      left: 0;
      margin-left: var(--side-nav-margin-left);
    }
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      // gap: 0.5rem;
      height: var(--top-nav-height);
      color: var(--nav-secondary-text-color);

      // &--selected {
      //   color: var(--nav-primary-text--color);
      // }

      @media (min-width: 768px) {
        gap: 1.5rem;
        flex-direction: row;
        height: fit-content;

      }
    }

    &__rectangle {
      &-title {
        // font-size: 5px;
        font-size: 1.25rem;
        order: -1;
        font-weight: 500;
        cursor: pointer;

        @media (min-width: 768px) {
          order: unset;

        }
      }

      &-shape {
        width: 0.25rem;
        height: 10rem;
        // background-color: var(--nav-primary-text-color);
        background-color: var(--nav-secondary-text-color);
        margin: 20px;
        // box-shadow: 0px 0px 1rem var(--nav-primary-text-color);


        width: 10rem;
        height: 0.05rem;

        width: 100%;
        margin: 0;

        @media (min-width: 768px) {
          height: 10rem;
          width: 0.25rem;

        }

        // &--selected {
        //   background-color: var(--nav-primary-text-color);
        //   box-shadow: 0px 0px 1rem var(--nav-primary-text-color);
        // }
      }
    }
  }

  &-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: var(--top-nav-height);
    // border: 1px solid pink;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
    background: var(--background);

    &__icon-container {
      cursor: pointer;

      img {
        height: 2rem;
        width: 2rem;
      }
    }
  }

}