@import '@/lib/breakpoints';

.about {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.6rem;
  // position: relative;

  &__bg-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    opacity: 0.15 !important;

    &--opened {
      display: block;
    }

  }


  @media (min-width: $breakpoint-tablet) {
    padding: auto;
    width: 60%;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 0 10%;
    flex-direction: row;
    align-items: flex-end;
    // width: unset;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--primary-text-color);


    &-name {
      font-weight: 700;
      color: var(--primary-header-text-color);
    }

    @media (min-width: $breakpoint-tablet) {
      text-align: left;
    }

    @media (min-width: $breakpoint-desktop) {
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
  }

  h1 {
    font-size: 2.6rem;
  }

  p {
    font-size: 1.5rem;
    font-weight: 300;

    @media (min-width: $breakpoint-desktop) {
      width: 30rem;
    }
  }

  &__profile-picture {
    width: 15.3rem;
    height: 18.46rem;
    position: relative;

    @media (min-width: $breakpoint-desktop) {
      display: flex;
      align-items: flex-end;
      width: 19.3rem;
      height: 22.46rem;
    }

    &-img {
      object-fit: contain;
      width: 100%;
      height: 100%;

      @media (min-width: $breakpoint-desktop) {
        height: fit-content;
      }
    }
  }

  &__social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;

    svg:hover {
      animation: pulse 0.5s ease-in infinite;
    }

    @media (min-width: $breakpoint-tablet) {
      justify-content: flex-start;
    }
  }

  &__contact-modal {

    display: none;
    // width: 100%;
    border-radius: 1rem;

    &--opened {
      z-index: 1;
      position: absolute;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      width: 90%;
      padding: 2.5rem;
      justify-content: flex-end;
      align-items: flex-start;
      background: var(--modal-background);
      background-size: cover;

      @media (min-width: $breakpoint-tablet) {
        width: 50%;
      }

      input,
      textarea {
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: 1px solid var(--primary-text-color);
        padding: 0.3rem 0.3rem;
        color: var(--primary-text-color);

        &::placeholder {
          font-size: 0.75rem;
        }

        &:focus {
          outline: none;
          // box-shadow: 0px 0px 1rem var(--nav-primary-text-color);

        }
      }

      textarea {
        height: 16vh;
      }
    }
  }

  &__contact-card {
    display: flex;
    flex-direction: column;
    width: 50%;
    // border: 2px solid white;
    padding: 2.5rem;
    justify-content: flex-end;
    align-items: flex-start;
    background: var(--modal-background);
    background-size: cover;

    input,
    textarea {
      width: 100%;
    }
  }

  &__contact-btn-container {
    button {
      background: transparent;
      // border: 1px solid white;
      color: var(--primary-text-color);
    }
  }

  &__contact-submit-btn {
    background-color: var(--cta-bg-color);
    color: var(--cta-color);
    // width: 100%;
    border: none;
    padding: 0.35rem 3rem !important;
  }

}

@keyframes pulse {
  25% {
    transform: scale(0.9);
  }

  75% {
    transform: scale(1.1);
  }
}