body[data-theme='atmosphere'] {
  // --activeTheme: url("/atmosphere.png");
  background-color: #151515;
}

body[data-theme='dark'] {
  --activeTheme: #151515;
}

body[data-theme='light'] {
  // --activeTheme: #eed9c4;
  --activeTheme: #FFF;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: var(--activeTheme);
  background-size: cover;
  z-index: -1;
  &__atmosphere {
    // position: absolute;
    opacity: 0.5;
  }
}